.cvOutLine{
        border-color: rgb(200, 200, 244);
        border: solid;
        background-color: rgb(216, 249, 249);
        padding: 3em;
        padding-top: 1em;
            
}

.buttonCol{
      width: 5em;  
}